<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<title>Email</title>

	<!-- Material Icons  -->
	<link href="../css/materialIcons.css" rel="stylesheet">
	<!-- Roboto Font -->
	<link href="../css/robotoFont.css" rel="stylesheet">

	<!-- Vendor CSS -->
	<link type="text/css" href="../css/plugins.css" rel="stylesheet">
	
	<!-- App CSS -->
	<link type="text/css" href="../css/style.css" rel="stylesheet">

	<script src="../plugins/jquery.min.js"></script>

	

</head>
<body>
	<!-- Navbar (depending on page) -->
	 
		<!-- Navbar -->
<nav class="navbar navbar-light bg-white navbar-full navbar-fixed-top left-md-sidebar">
	<button class="navbar-toggler pull-xs-left hidden-md-up" type="button" data-toggle="sidebar" data-target="#sidebarLeft" aria-expanded="false" aria-controls="sidebarLeft" data-transition="false">
		<span class="material-icons">menu</span>
	</button>
	<a class="navbar-brand m-r-3" href="index.html">Email</a>

	<div class="collapse navbar-toggleable-sm navbar-toggleable-md" id="navbarMenu">
		<ul class="nav navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="index.html">
					Home
				</a>
			</li>
			<li class="nav-item active dropdown">
				<a class="nav-link dropdown-toggle" data-toggle="dropdown">
					Pages
				</a>
				<div class="dropdown-menu dropdown-menu-list" aria-labelledby="Preview">
					<a class="dropdown-item" href="timeline.html">
						<i class="material-icons md-18">dashboard</i> <span class="icon-text">Timeline</span>
					</a>
					<a class="dropdown-item active" href="email.html">
						<i class="material-icons md-18">mail</i> <span class="icon-text">Email</span>
					</a>
					<a class="dropdown-item" href="user-profile.html">
						<i class="material-icons md-18">person</i> <span class="icon-text">Profile</span>
					</a>
					<a class="dropdown-item" href="reports.html">
						<i class="material-icons md-18">assessment</i> <span class="icon-text">Reports</span>
					</a>
					
				</div>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" data-toggle="dropdown">
					Components
				</a>
				<div class="dropdown-menu dropdown-menu-list" aria-labelledby="Preview">
					<a href="ui-buttons.html" class="dropdown-item">Buttons</a>
					<a href="ui-cards.html" class="dropdown-item">Cards</a>
					<a href="ui-tabs.html" class="dropdown-item">Tabs</a>
					<a href="ui-tree.html" class="dropdown-item">Tree</a>
					<a href="ui-nestable.html" class="dropdown-item">Nestable</a>
					<a href="ui-notifications.html" class="dropdown-item">Notifications</a>
					<a href="forms.html" class="dropdown-item">Forms</a>
					<a href="charts.html" class="dropdown-item">Charts</a>
					<a href="calendar.html" class="dropdown-item">Calendar</span></a>
					<a href="maps.html" class="dropdown-item">Filterable Map</a>
				</div>
			</li>
		</ul>
	</div>
</nav>
	

	<!-- Sidebar (depending on page) -->
	 
		<!-- Sidebar -->
<div class="sidebar sidebar-left sidebar-light bg-white" id="sidebarLeft">
	<a href="index.html" class="sidebar-brand bg-primary">
		<i class="material-icons">control_point</i> <span class="icon-text">Admin Plus</span>
	</a>
	
	<ul class="sidebar-email">
		<li class="sidebar-email-item center">
			<a href="#" class="btn btn-success btn-rounded"><i class="material-icons md-18">create</i> <span class="icon-text">Compose</span></a>
		</li>
	    <li class="sidebar-email-item new">
	        <a class="nav-link" href="index.html">
	        	<small class="pull-right text-muted">12:20</small>
	        	<strong>Adrian Demian</strong>
	        	<span class="sidebar-email-subject">Enhance your website with</span>
	        	<span class="sidebar-email-message">When we started the design I've build it from the grounds up... </span>
        	</a> 
	    </li>
	    <li class="sidebar-email-item active">
	        <a class="nav-link" href="index.html">
	        	<small class="pull-right text-muted">1 day</small>
	        	<strong>Laza Bogdan</strong>
	        	<span class="sidebar-email-subject">Was up?</span>
	        	<span class="sidebar-email-message">Do you recogn we're going LIVE? </span>
        	</a> 
	    </li>
	    <li class="sidebar-email-item new">
	        <a class="nav-link" href="index.html">
	        	<small class="pull-right text-muted">12:20</small>
	        	<strong>Andrew Brain</strong>
	        	<span class="sidebar-email-subject">Beer tonight?</span>
	        	<span class="sidebar-email-message">Are we on for a beer tonight?</span>
        	</a> 
	    </li>
	    <li class="sidebar-email-item">
	        <a class="nav-link" href="index.html">
	        	<small class="pull-right text-muted">12:20</small>
	        	<strong>Michelle Smith</strong>
	        	<span class="sidebar-email-subject">Design Approval</span>
	        	<span class="sidebar-email-message">Hi Adrian, Please sign off the design so we can get it to ... </span>
        	</a> 
	    </li>
	</ul>

</div>
	


	<!--  Content -->
	
<div class="content-wrapper p-t-1">
    <div class="card">
        <div class="card-block">
            <div class="media">
                <div class="media-body media-middle">
                    <h4 class="m-b-0">Re: Quick Status</h4>
                    <p class="text-muted m-b-0"><a href="#">contact@mosaicpro.biz</a> on 12 Nov 2015</p>
                </div>
                <div class="media-right media-middle text-xs-right">

                    <div class="btn-group-vertical">
                        <button type="button" class="btn btn-primary-outline btn-xs"><i class="material-icons md-18">reply</i></button>
                        <button type="button" class="btn btn-danger-outline btn-xs"><i class="material-icons md-18">delete</i></button>
                    </div>
                </div>
            </div>    
        </div>
        
        <div class="card-block p-t-0">
            <p>Hi Smith,</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, deleniti excepturi laborum
                neque
                nostrum reprehenderit repudiandae sequi voluptatem.</p>

            <p>Regards,<br>Adrian
            </p>

            <p class="text-muted small">On 02 Mar 2015, at 17:00, Bill
                <noreply @email.com=""> wrote:
                </noreply></p>
            <blockquote>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid asperiores
                    cupiditate,
                    magnam modi provident quaerat quibusdam? Fuga, laborum, necessitatibus?</p>
            </blockquote>
        </div>
    </div>

    <p class="lead text-muted">Attachments <i class="material-icons">attachment</i></p>

    <ul class="list-group m-b-1">
        <li class="list-group-item">
            <div class="media">
                <div class="media-body media-middle">
                    <a href="#"><i class="fa fa-file-pdf-o fa-fw"></i> Filename</a> <span class="text-muted">(24 kb)</span>
                </div>
                <div class="media-right">
                    <a href="javascript:alert('download action')" class="btn btn-default-dark btn-xs"><i class="md md-file-download"></i></a>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="media">
                <div class="media-body media-middle">
                    <a href="#"><i class="fa fa-file-pdf-o fa-fw"></i> Filename</a> <span class="text-muted">(24 kb)</span>
                </div>
                <div class="media-right">
                    <a href="javascript:alert('download action')" class="btn btn-default-dark btn-xs"><i class="md md-file-download"></i></a>
                </div>
            </div>
        </li>
    </ul>

    <p class="lead text-muted">Reply</p>
    <form action="#">
        <div class="form-group">
            <textarea name="reply" id="summernote" cols="30" rows="5" placeholder="Write here ..." class="form-control"></textarea>
        </div>
        <a href="#" class="btn btn-primary"><i class="md md-reply"></i> Reply</a>
    </form>
</div>


	<!-- Vendor Scripts -->
	<script src="../plugins/plugins.min.js"></script>
	
	<!-- Bootstrap -->
	<script src="../plugins/bootstrap.min.js"></script>

	<!-- App Scripts -->
    <script src="../js/app.js"></script>

	
</body>
</html>
