<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>商城大类管理-新增大类</title>
    <link href="../../css/materialIcons.css" rel="stylesheet">
    <link href="../../css/robotoFont.css" rel="stylesheet">
    <link type="text/css" href="../../css/style.css" rel="stylesheet">
    <link type="text/css" href="../../css/plugins.css" rel="stylesheet">
    <script src="../../plugins/jquery.min.js"></script>
</head>
<body>
<!--头部-->
<nav class="navbar navbar-light navbar-full navbar-fixed-top left-md-sidebar nav-bg" style="height: 100px">
    <button class="navbar-toggler pull-xs-left hidden-md-up" type="button" data-toggle="sidebar" data-target="#sidebarLeft" aria-expanded="false" aria-controls="sidebarLeft" data-transition="false">
        <span class="material-icons material-icons-menu">menu</span>
    </button>
    <div class="nav-logo col-md-9"><i class="logo hidden-md-down"></i><a class="navbar-brand" href="../../Index.html" style="color: #fff;
    display: inline-block;margin-top: 25px;">带路者后台管理系统</a></div>
    <!--<a class="navbar-brand" href="Index.html">带路者科技有限公司</a>-->
    <div class="pull-xs-right hidden-sm-down">
        <a href="../LoginSignup.html" class="btn btn-light">注销登录</a>
        <a href="javascript:;" class="btn btn-light" style="">帮助</a>
    </div>
</nav><!--头部 end-->

<!--主体-->
<div style="overflow: hidden">

    <!-- 左侧导航 -->
    <div class="sidebar sidebar-left sidebar-light bg-white" id="sidebarLeft">
        <!--侧导航-->
        <a href="javascript:;" class="sidebar-user clearfix">
            <img src="../../picture/guy-6_1.jpg" alt="" class="img-circle pull-left">
            <div class="pull-right" >
                <span>登录用户：建国</span>
                <p style="margin: 0">登录时间：2017-01-07</p>
            </div>
        </a>
        <ul class="nav" id="mainMenu">
            <li class="nav-item">
                <a class="nav-link" href="javascript:;"><i class="material-icons">view_compact</i><span class="icon-text">基础信息管理</span>
                    <span class="label"></span></a>
                <ul>
                    <li><a href="../../Index.html">国家地区编码</a></li>
                    <li><a href="../basicInfor/diquxingzhibianma.html">地区性质编码</a></li>
                    <li><a href="../basicInfor/guojiaguanqubianma.html">国家关区编码</a></li>
                    <li><a href="../basicInfor/jiliangdanweibianma.html">计量单位编码</a></li>
                    <li><a href="../basicInfor/fuwuzhuangtaibianma.html">服务状态编码</a></li>
                    <li><a href="../basicInfor/xingzhengquhuabianma.html">行政区划编码</a></li>
                    <li><a href="../basicInfor/xingzhengquhualeixing.html">行政区划类型</a></li>
                    <li><a href="../basicInfor/gangkoudaimazidian.html">港口代码字典</a></li>
                    <li><a href="../basicInfor/yinhangxinxibianma.html">银行信息编码</a></li>
                    <li><a href="../basicInfor/zaixianzhuangtaibianma.html">在线状态编码</a></li>
                    <li><a href="../basicInfor/yuzhongmingchengbianma.html">语种名称编码</a></li>
                    <li><a href="../basicInfor/zhifufangshibianma.html">支付方式编码</a></li>
                    <li><a href="../basicInfor/kuanxingleixingbianma.html">款型类型编码</a></li>
                    <li><a href="../basicInfor/danjuzhuangtaibianma.html">单据状态编码</a></li>
                    <li><a href="../basicInfor/hangyefenleibianma.html">行业分类编码</a></li>
                    <li><a href="../basicInfor/maoyifangshibianma.html">贸易方式编码</a></li>
                    <li><a href="../basicInfor/zhengjianmianshuibianma.html">征减免税编码</a></li>
                    <li><a href="../basicInfor/cailiaofujianleixing.html">材料附件类型</a></li>
                    <li><a href="../basicInfor/kehuleixingbianma.html">客户类型编码</a></li>
                    <li><a href="../basicInfor/yunshufangshibianma.html">运输方式编码</a></li>
                    <li><a href="../basicInfor/zhengmianfangshibianma.html">征免方式编码</a></li>
                    <li><a href="../basicInfor/chanpinpinpaibianma.html">产品品牌编码</a></li>
                    <li><a href="../basicInfor/yonghuleixingbianma.html">用户类型编码</a></li>
                    <li><a href="../basicInfor/hetongxieyileixing.html">合同协议类型</a></li>
                    <li><a href="../basicInfor/yonghudengjibianma.html">用户等级编码</a></li>
                    <li><a href="../basicInfor/chengjiaofangshibianma.html">成交方式编码</a></li>
                    <li><a href="../basicInfor/huobanguanxiyingshe.html">伙伴关系映射</a></li>
                    <li><a href="../basicInfor/jianguanfangshibianma.html">监管方式编码</a></li>
                    <li><a href="../basicInfor/baozhuangzhongleibianma.html">包装种类编码</a></li>
                    <li><a href="../basicInfor/fapiaoleixingbianma.html">发票类别编码</a></li>
                    <li><a href="../basicInfor/fapiaokemubianma.html">发票科目编码</a></li>
                    <li><a href="../basicInfor/jc-zizhizhengjianleixing.html">资质证件类型</a></li>
                    <li><a href="../basicInfor/jianguanzhengjianbianma.html">监管证件编码</a></li>
                    <li><a href="../basicInfor/jiehuifangshibianma.html">结汇方式编码</a></li>
                    <li><a href="../basicInfor/guojiabizhongbianma.html">国家币种编码</a></li>
                    <li><a href="../basicInfor/guojiabizhonghuilv.html">国家币种汇率</a></li>
                    <li><a href="../basicInfor/huobidanweibianma.html">货币单位编码</a></li>
                    <li><a href="../basicInfor/qiyehuanjingbianma.html">企业环境编码</a></li>
                    <li><a href="../basicInfor/guochengkongzhixiangmu.html">过程控制项目</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:;"><i class="material-icons">tune</i><span class="icon-text">系统功能管理</span></a>
                <ul>
                    <li><a href="../systemFunction/pingtaixitongguanli.html">平台系统管理</a></li>
                    <li><a href="../systemFunction/pingtaiyingyongguanli.html">平台应用管理</a></li>
                    <li><a href="../systemFunction/pingtaimokuaiguanli.html">平台模块管理</a></li>
                    <li><a href="../systemFunction/mokuaigongnengguanli.html">模块功能管理</a></li>
                    <li><a href="../systemFunction/pingtaicaidanguanli.html">平台菜单管理</a></li>
                    <li><a href="../systemFunction/caidanmokuaiguanxi.html">菜单模块关系</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:;"><i class="material-icons">tune</i><span class="icon-text">组织人员管理</span></a>
                <ul>
                    <li><a href="../organizationPersonnel/zuzhixinxiguanli.html">组织信息管理</a></li>
                    <li><a href="../organizationPersonnel/zuzhiguanxiguanli.html">组织关系管理</a></li>
                    <li><a href="../organizationPersonnel/renyuanzhanghaoguanli.html">人员账号管理</a></li>
                    <li><a href="../organizationPersonnel/zuzhirenyuanguanli.html">组织人员管理</a></li>
                    <li><a href="../organizationPersonnel/xitongzuzhipeizhi.html">系统组织配置</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:;"><i class="material-icons">tune</i><span class="icon-text">系统权限管理</span></a>
                <ul>
                    <li><a href="../systemPermissions/xitongjiaoseguanli.html">系统角色管理</a></li>
                    <li><a href="../systemPermissions/juesegongnengquanxian.html">角色功能权限</a></li>
                    <li><a href="../systemPermissions/renyuanjueseguanxi.html">人员角色关系</a></li>
                    <li><a href="../systemPermissions/yonghuquanxianweituo.html">用户权限委托</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:;"><i class="material-icons">tune</i><span class="icon-text">企业注册管理</span></a>
                <ul>
                    <li><a href="../enterpriseRegistration/qiyezhucemokuai.html">企业注册模块</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:;"><i class="material-icons">tune</i><span class="icon-text">安全监控管理</span></a>
                <ul>
                    <li><a href="../safetyMonitoring/xitongdenglurizhi.html">系统登录日志</a></li>
                    <li><a href="../safetyMonitoring/gongnengcaozuorizhi.html">功能操作日志</a></li>
                    <li class="active"><a href="../safetyMonitoring/jiekoucanshuxinxi.html">接口参数信息</a></li>
                    <li><a href="../safetyMonitoring/jiekouanquancelv.html">接口安全策略</a></li>
                    <li><a href="../safetyMonitoring/jiekoudiaoyongrizhi.html">接口调用日志</a></li>
                </ul>
            </li>
            <li class="nav-item open">
                <a class="nav-link" href="javascript:;"><i class="material-icons">tune</i><span
                        class="icon-text">网站内容管理</span></a>
                <ul>
                    <li><a href="shangchengyemianguanli.html">商城页面管理</a></li>
                    <li><a href="shangchengpindaoguanli.html">商城频道管理</a></li>
                    <li><a href="lunbolanmuguanli.html">轮播栏目管理</a></li>
                    <li class="active"><a href="shangchengdaleiguanli.html">商城大类管理</a></li>
                    <li><a href="shangchengxiaoleiguanli.html">商城小类管理</a></li>
                    <li><a href="caidanpinleiguanli.html">菜单品类管理</a></li>
                </ul>
            </li>
        </ul> <!--侧导航 end-->

    </div><!-- 左侧导航 end-->

    <!-- 右侧内容 -->
    <div class="content-wrapper">
        <!--二级导航-->
        <ol class="breadcrumb m-b-0">
            <li><a href="javascript:;">首页</a></li>
            <li><a href="javascript:;">网站内容管理</a></li>
            <li><a href="shangchengdaleiguanli.html">商城大类管理</a></li>
            <li class="active">新增大类</li>
        </ol><!--二级导航 end-->
        <!--内容-->
        <div class="col-md-12 bg-white me-border-radius" style="height: 725px">
            <div class="me-margin-bottom">
                <h5>新增商城大类栏目</h5>
                <!--按钮组-->
                <p>
                    <a href="shangchengdaleiguanli.html" class="btn btn-default">保存</a>
                    <a href="shangchengdaleiguanli.html" class="btn btn-default">取消</a>
                </p>
                <!--输入-->
                <div class="add-list fa-border">
                    <p>平台用户<span class="text-danger">*</span>
                        <select>
                            <option value="带路者">带路者</option>
                        </select>
                    </p>
                    <p>大类栏目名称 <span class="text-danger">*</span> <input type="text"></p>
                    <p>终端类型<span class="text-danger">*</span>
                        <select>
                            <option value="WEB">WEB</option>
                            <option value="WAP">WAP</option>
                        </select>
                    </p>
                    <p>语种编码<span class="text-danger">*</span>
                        <select>
                            <option value="中文">中文</option>
                            <option value="英文">英文</option>
                            <option value="阿拉伯文">阿拉伯文</option>
                        </select>
                    </p>
                    <p>栏目高度 <span class="text-danger">*</span> <input type="text"></p>
                    <p>栏目标题  <span class="text-danger">*</span> <input type="text"></p>
                    <p>所属频道 <span class="text-danger">*</span>
                        <select>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </p>
                    <br>
                    <p>创建人 <input type="text" value="建国" disabled></p>
                    <p>创建时间 <input type="text" value="2017-01-01 18:00:00" disabled></p>
                    <p>修改人 <input type="text" value="建国" disabled></p>
                    <p>修改时间 <input type="text" value="2017-01-01 18:00:00" disabled></p>

                </div>
                <hr>
                <div>
                    <h5>大类栏目明细</h5>
                    <!--按钮组-->
                    <!--按钮组-->
                    <p>
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#add">添加明细</button>
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#delect">删除明细</button>
                    </p>
                    <!--表格信息-->
                    <table class="table table-bordered table-striped with-check ">
                        <thead>
                        <tr>
                            <th class="center"><input type="checkbox"></th>
                            <th class="center">大类名称</th>
                            <th class="center">标题</th>
                            <th class="center">站点地址</th>
                            <th class="center">域名</th>
                            <th class="center">页面名称</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="center"><input type="checkbox" /></td>
                            <td class="center">1</td>
                            <td class="center">中国</td>
                            <td class="center">中国</td>
                            <td class="center">中国</td>
                            <td class="center">中国</td>
                        </tr>
                        </tbody>
                    </table>
                    <!--分页-->
                    <div class="container pull-right" style="margin-right: 10px">
                        <ul class="pagination  pagination-sm">
                            <li class="page-item"><a class="page-link" href="javascript:;">上一页</a></li>
                            <li class="page-item"><a class="page-link" href="javascript:;">1</a></li>
                            <li class="page-item"><a class="page-link" href="javascript:;">2</a></li>
                            <li class="page-item"><a class="page-link" href="javascript:;">3</a></li>
                            <li class="page-item"><a class="page-link" href="javascript:;">下一页</a></li>
                        </ul>
                    </div><!--分页 end-->
                </div>
            </div>

        </div><!--内容 end-->
    </div><!-- 右侧内容 end-->

    <!--弹框-->
    <div>
        <!--新增-->
        <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-dialog-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title" id="addModalLabel">添加</h4>
                    </div>
                    <div class="modal-body modal-body-lg">
                        <div class="modal-body-editable">
                            <p>大类名称<span class="text-danger">*</span> <input type="text" value="1" disabled></p>
                            <p>标题<span class="text-danger">*</span><select>
                                <option value="带路者">商城首页</option>
                                <option value="带路者">主体页面</option>
                                <option value="带路者">一级页面</option>
                                <option value="带路者">二级页面</option>
                                <option value="带路者">三级页面</option>
                                <option value="带路者">比较页面</option>
                            </select></p>
                            <p class="text">站点地址<span class="text-danger">*</span> <input type="text" style="width: 505px"></p>
                            <p>域名 <span class="text-danger">*</span> <input type="text"></p>
                            <p>页面名称 <span class="text-danger">*</span> <input type="text"></p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary">提交新增</button>
                        <button type="button" class="btn btn-primary">提交返回</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>
        <!--删除-->
        <div class="modal fade" id="delect" tabindex="-1" role="dialog" aria-labelledby="delectModalLabel" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title" id="delectModalLabel">删除</h4>
                    </div>
                    <div class="modal-body">
                        <p>您将删除所选择的编码记录信息，删除前请再次确认操作</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary">确定</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div><!--弹框 end-->

</div><!--主体 end-->

<!--尾部-->
<footer class="center" style="margin-top: 20px">
    <p><span>京ICP备16041296号-1&nbsp; |&nbsp; Copyright&nbsp; &nbsp;<span class="copyright-c">©</span> 2016, Silkwalks, All Rights Reserved</span>
    </p>
</footer><!--尾部 end-->


<script src="../../plugins/plugins.min.js"></script>
<script src="../../plugins/bootstrap.min.js"></script>
<script src="../../js/app.js"></script>

</body>
</html>
